		.c-area__btns.column02 {
		    --column: 2;
		    display: grid;
		    grid-template-columns: repeat(var(--column), 1fr);
		    gap: min(1.953125vh, 15px) min(1.4641288433vw, 20px);
		}

		.c-area__btns.column02>a {
		    grid-column: auto;
		}

		.c-area__btns.column02>button {
		    grid-column: 1 / -1;
		}

		#map {
		    border-radius: 12px;
		    overflow: hidden;
		    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
		}

		.l-contents__map-data {
		    border-radius: 12px;
		}

		.l-contents__map-legends {
		    border-radius: 12px;

		    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
		}

		/* Show only the AI tile */
		.p-result__story-target>li:not(#aiStoryItem) {
		    display: none;
		}

		.p-result__story li {
		    display: list-item;
		}